<div class="container">
    <div class="row-fluid">
    <div class="home">

        <div home2>
            <h2>Your life made easy!</h2>
            <a class="home-btn" data-toggle="modal" href="#signupModal">Join now</a>
        </div>

        <div class="home-offers">
            <div class="row-fluid">
                <div class="home-offer">
                    <h3><i class="icon-random"></i> &nbsp; Extremely flexible</h3>
                    <p>Proin ut iaculis nisl. Nulla dignissim neque magna, id hendrerit metus. Mauris non turpis eu arcu volutpat cursus. Etiam hendrerit erat ac eros auctor at eleifend lacus tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu dignissim risus.</p>
                </div>
                <div class="home-offer">
                    <h3> <i class="icon-group"></i> &nbsp; Developer for developer</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Nulla et porta nunc. Duis volutpat tristique nisl ac adipiscing. Sed eget nibh sit amet enim faucibus porta.</p>
                </div>
            </div>
        </div><!-- /header-features -->
    </div><!-- header-->

    </div><!-- /row-fluid -->
</div><!-- /container -->