<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
             <a class="brand" href="#" name="top">
                 Shapestone
             </a>

            <!--<div class="nav-collapse collapse">-->
                <!--<ul class="nav">-->
                    <!--&lt;!&ndash;<li><a href="#"><i class="icon-home"></i> Home</a></li>&ndash;&gt;-->
                    <!--<li class="divider-vertical"></li>-->
                    <!--&lt;!&ndash;<li class="active"><a href="#"><i class="icon-file"></i> Pages</a></li>&ndash;&gt;-->
                    <!--<li>-->
                        <!--<form id="custom-search-form" class="form-search form-horizontal pull-right">-->
                            <!--<div class="input-append span12">-->
                            <!--<input type="text" class="search-query" placeholder="Search">-->
                            <!--<button type="submit" class="btn"><i class="icon-search"></i></button>-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</li>-->
                    <!--<li class="divider-vertical"></li>-->
                <!--</ul>-->
                <!--<ul class="nav pull-right">-->
                    <!--<li class="divider-vertical"></li>-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a data-toggle="modal" href="/#loginModal" class="login-btn" >Login</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--</ul>-->
            <!--</div>-->
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </div>
    <!--/.navbar-inner -->
</div>

