<div class="modal hide" id="signupModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h2>Sign Up</h2>
    </div>
    <div class="modal-body">
        <form>
            <label>First Name</label>
            <input type="text" name="firstname" class="span15">
            <label>Last Name</label>
            <input type="text" name="lastname" class="span15">
            <label>Email Address</label>
            <input type="email" name="email" class="span15">
            <label>Username</label>
            <input type="text" name="username" class="span15">
            <label>Password</label>
            <input type="password" name="password" class="span15">
            <label><input type="checkbox" name="terms"> I agree with the <a href="#">Terms and Conditions</a>.</label>
            <input type="submit" value="Sign up" class="btn btn-primary" class="span15">
            <div class="clearfix"></div>
        </form>
    </div>
</div>